<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add connectionString="Data Source=localhost;Initial Catalog=examFinal;User ID=sa;Password=sql"
		  name="connexionSqlServer" providerName="System.Data.SqlServer"/>
	</connectionStrings>

</configuration>